<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	



<!-- <mapper namespace="com.sboard.mappers.boardMapper">

	게시물 작성
	insert into tb1_board(title, content, writer) values(?,?,?)
	<insert id="write" parameterType="com.sboard.domain.BoardVO">
		INSERT INTO tb1_board(title, content, writer) VALUES(#{title}, #{content}, #{writer})
	</insert>


	게시물 수정
	<update id="update" parameterType="com.sboard.domain.BoardVO">
		update 
			tb1_board
				set
					title = #{title},
					content = #{content}
				where
					bno = #{bno}
	</update>
	게시물 삭제
	<delete id="delete" parameterType="int">
		delete from
			tb1_board
				where 
					bno = #{bno}
	</delete>
	게시물 조회
	<select id="view" parameterType="int" resultType="com.sboard.domain.BoardVO">
		select
			bno, title, content, writer, regDate, viewCnt 
				from tb1_board
			where
				bno = #{bno} 
	</select>
	게시물 목록
	<select id="list" resultType="com.sboard.domain.BoardVO">
		select
			bno, title, content, writer, regDate, viewCnt 
				from tb1_board
	</select>
	
	
</mapper> -->